
<ion-app>

  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ul>
          <li *ngFor= "let item of data$|async|groupBy:'Country_Region'">

            {{item.key}}

          </li>
        </ul>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <!-- <ion-router-outlet id="main"></ion-router-outlet> -->

  <ion-content id="main">
    <ion-card>
      <app-map [data]="data$|async|groupBy:'Country_Region'"
    [options]="{radiusMarkerKey:'Confirmed',zoom: 1}"></app-map>
    </ion-card>
  </ion-content>
</ion-split-pane>

</ion-app>


  <!-- <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>

    <button (click)="load()">test</button>
    <app-map [data]="data$|async|groupBy:'Country_Region'"
    [options]="{radiusMarkerKey:'Confirmed',zoom: 6}"></app-map>
<div>
  <ul>
    <li *ngFor= "let item of data$|async|groupBy:'Country_Region'">

      {{item.key}}

    </li>
  </ul>
</div> -->
